.home-background {
  width: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.tab-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  font-size: 10px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .tab-container {
    display: flex;
    box-shadow: 0px 10px 10px -15px #111;
  }
}

.each-tab-item {
  list-style-type: none;
  flex-shrink: 0;
  flex-grow: 1;
  right: 20px;
  text-align: center;
  cursor: pointer;
}

.active-tab-item {
  color: #ff6347;
  border-bottom: 2px solid #ff6347;
  font-weight: 600;
}

.tab-category-button {
  color: inherit;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.dishes-list-container {
  list-style-type: none;
  padding: 25px;
}